*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;;
}

body{
    background-color: #1A262F;
}


/* HEADER */
header{
    background-color: #DDD0BD;
    max-height: 200px;
    padding: 5px 0 5px 30px;
}
@media screen and (max-width: 1024px) {
    header{
        text-align: center;
        padding: 5px 0;
    }
}

#logo{
    width: 170px;
    height: auto;
}

/* FOOTER */
footer{
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p{
    font-size: 12px;
}

#social-links{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: ease-in-out 0.2s;
    border-radius: 8px;
    color: #fff;
}

#social-links a:hover{
    background: #fff;
    color: #1A262F;
}

/* CONTAINER */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    height: 50vh;
    background: #fff;
}

@media screen and (max-width: 796px) {
    .container{
        flex-direction: column;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
}

/* HOME */
.left-side.home{
    max-width: 500px;
}
@media screen and (max-width: 796px) {
    .container{
        flex-direction: column;
    }
    .left-side.home{
        text-align: center;
    }
}

#button-home,
.btn-options{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: thin;
    font-size: 15px;
    background-color: #1A262F;
    color: #fff;
    cursor: pointer;
}
#button-home:hover,
.btn-options:hover{
    background-color: #1a262fe1;
    color: #fff;
}

/* CREATE LIST OPTIONS */
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    max-width: 350px;
    text-align: center;
}
.card p{
    font-size: 13px;
    margin: 15px 0;
}
@media screen and (max-width: 796px) {
    .grid{
        display: flex;
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
    }
    .left-side.home{
        text-align: center;
    }
}